* {
  font-family: sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #20232a;
}

a {
  height: 60px;
  width: 300px;
  padding: 40px 80px;
  font-size: 26px;
  text-decoration: none;
  position: relative;
  text-transform: uppercase;
  line-height: 60px;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  transition: all 0.2s;
  z-index: 10;
  text-align: center;
  color: #ff0;
}

a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: #ff0;
  box-shadow: -100px 0 0 #ff0;
  transition: all 0.5s;
  z-index: -1;
  opacity: 0;
}

a::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: #ff0;
  box-shadow: 100px 0 0 #ff0;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
  z-index: -1;
  opacity: 0;
}

a:hover::before {
  left: 50%;
  box-shadow: 30px 0 0 #ff0;
  transform: translate(-50%, -50%);
  opacity: 1;
}

a:hover::after {
  right: 50%;
  box-shadow: -30px 0 0 #ff0;
  transform: translate(50%, -50%);
  opacity: 1;
}

span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ff0;
  border-radius: 8px;
  transition: all 0.3s;
  transform: scale(0);
}

a:hover span {
  transform: scale(1);
  transition-delay: 0.4s;
  z-index: -1;
}

a:hover {
  color: #262626;
  transition-delay: 0.4s;
}